@import "tailwindcss";

@theme {
  --font-cairo: var(--font-cairo);

  --color-background: #050505; /* Deep AI black */
  --color-foreground: #ededed;
  
  --color-primary: #6366f1; /* Tech Indigo */
  --color-primary-hover: #4f46e5;
  
  --color-accent: #a855f7; /* Neon Purple */
  
  --color-card: rgba(255, 255, 255, 0.03);
  --color-card-hover: rgba(255, 255, 255, 0.06);
  
  --color-border: rgba(255, 255, 255, 0.1);
}

:root {
  color-scheme: dark;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-cairo), system-ui, sans-serif;
}
